* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  height: 70px;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}

#logo {
  height: 30px;
  width: 30px;
}


.list-style li{
  list-style: none;
  display: inline-block;
  padding-bottom: 20px;
  padding-right: 30px;
  vertical-align: middle;
}

.list-style  a {
  text-decoration: none;
  cursor: pointer;
  color: #BEC0C0;
  padding: 10px 0;
}

.list-style a:hover {
  color: black;
}

li button {
  border: none;
  padding: 10px 10px;
  border-radius: 10%;
}
.black {
  background-color: black;
  color: white;
}

.position-relative{
  position: relative;
}



.dropdown {
  display: none;
  position: absolute;
  top: 40px;
  width: 130px;
  padding: 20px 5px;
  height: 400px;
  border-radius: 5%;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.63);
}


.dropdown ul {
  list-style: none;
  padding: 10px
}


button:focus {
  outline: none;
}
